<!-- src/_includes/layouts/base.njk -->
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{{ title or "Sites" }}</title>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>